<div class="heading-container">
    <div id="card-container">
        <div id="extinguish-background"></div>
            <div id="extinguish-content"></div>
        <div id="snap-background"></div>
            <div id="snap-content"></div>
        <div id="bill-background"></div>
            <div id="bill-content"></div>
        <div id="unknown-background">
            <div id="unknown-content"></div>
        </div>
        <div id="shadow"></div>
        <div id="business-card">
            <div id="card-content" align="center">
                <div id="logo"><%= inline_svg "square_logo.svg", id: 'billgroble-icon' %></div>
                <h2 id="name">Billy Groble</h2>
                <h3 id="title">Software Developer</h3>
                <div id="email">bill.groble@gmail.com</div>
                <br />
                <div id="website">billgroble.com</div>
                </div>
                <div id="contact"><div id="contact-form"><%= render template: 'contacts/new' %></div>
                <div id="sent">
                    <p>Thanks for your message!</p>
                    </div></div> 
                    <!--why is this important?-->
                <div id="bio"><%= render 'intro' %></div>
                <div id="experience"><%= render 'experience' %></div>
            
            <span class="l1"></span>
            <span class="l2"></span>
            <span class="l3"></span>
            <span class="l4"></span>
            
            <div class="corner" id="top-left"></div>
            <div class="corner" id="top-right"></div>
            <div class="corner" id="bottom-left"></div>
            <div class="corner" id="bottom-right"></div>
            
            <!--<div class="corner-shield" id="top-left"></div>-->
            <!--<div class="corner-shield" id="top-right"></div>-->
            <!--<div class="corner-shield" id="bottom-left"></div>-->
            <!--<div class="corner-shield" id="bottom-right"></div>-->
        </div>
    </div>
    <div id="shield"></div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<%= javascript_include_tag "home/heading" %>
<script>

    $("#bottom-right").click(function(){
        $("#business-card").css("transform-origin", "left top");
        $("#business-card").addClass("exit-left-up");
        setTimeout(function() {
            $("#unknown-background.visible").addClass("fullscreen");
            setTimeout(function() {
                 $("#unknown-content").html("<%= escape_javascript(render 'coming_soon/coming_soon') %>");
            }, 1000);
        }, 1000);
    });
    
    $("#bottom-left").click(function(){
        $("#business-card").css("transform-origin", "right top");
        $("#business-card").addClass("exit-right-up");
        setTimeout(function() {
            $("#bill-background.visible").addClass("fullscreen");
            setTimeout(function() {
                 $("#bill-content").html("<%= escape_javascript(render 'billgroble/billgroble') %>");
            }, 1000);
        }, 1000);
    });
    
    $("#top-right").click(function(){
        $("#business-card").css("transform-origin", "left bottom");
        $("#business-card").addClass("exit-left");
        setTimeout(function() {
            $("#snap-background.visible").addClass("fullscreen");
            setTimeout(function() {
                 $("#snap-content").html("<%= escape_javascript(render 'snap_match/snap_match') %>");
            }, 1000);
        }, 1000);
    });
    
    $("#top-left").click(function(){
        $("#business-card").css("transform-origin", "right bottom");
        $("#business-card").addClass("exit-right");
        setTimeout(function() {
            $("#extinguish-background.visible").addClass("fullscreen");
            setTimeout(function() {
                 $("#extinguish-content").html("<%= escape_javascript(render 'extinguish/extinguish') %>");
            }, 1000);
        }, 1000);
    });
</script>
