
<div class="main-container">
    <div class="content-container">
        <div id="heading" class="content-section">
            <%= render 'heading' %>
        </div>
    </div>
    <div align="center" id="copyright"><p>© 2018 Bill Groble all rights reserved.</p></div>
    <%= link_to "https://github.com/BillG18", target: :_blank do %>
        <div id="git-logo">
            <%= inline_svg "github_logo.svg", id: 'git-icon' %>
        </div>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/william-groble/", target: :_blank do %>
        <div id="linkedin-logo">
            <%= inline_svg "linkedin_logo.svg", id: 'linkedin-icon' %>
        </div>
    <% end %>
</div>