
<div class="main-container">
    <h1>Billy</h1>
    <div class="content-container">
        <div id="heading" class="content-section">
            <%= render 'heading' %>
        </div>
        <div id="intro" class="content-section">
            <%= render 'intro' %>
        </div>
        <div id="projects" class="content-section">
            <%= render 'projects' %>
        </div>
        <div id="social" class="content-section">
            <%= render 'social' %>
        </div>
        <div id="contact" class="content-section">
            <%= render 'contact' %>
        </div>
    </div>
</div>