<div align="left" id="email-form">
<div align="center">
<h2>Contact Me</h2>
</div>
  <%= simple_form_for Contact.new, :remote => true, :html => {:class => 'form-horizontal' } do |f| %>
    <%= f.input :name, :required => true %>
    <%= f.input :email, :required => true %>
    <%= f.input :message, :as => :text, :required => true %>
    <div class= "hidden">
      <%= f.input :nickname, :hint => 'Leave this field blank!' %>
    </div>
    <div>
      <div align="center">
      <%= f.button :submit, 'Send' %>
      </div>
    </div>
  <% end %>
</div>
